# virtual environments
env/

# cache
__pycache__/
lilac.egg-info/
.vscode/
.ruff_cache/
cache/*

# intermediate data
*.log
incremental_test/
*.json

# terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
graph.dot

# sensitive data
config/api-config.yml

# cli docs clone from other repo
cli-docs/*
!cli-docs/README.md
